/* title */
.site-branding {
    margin-left: 14px;
}

.site-title {
    margin-right: 0px;
}

.header-content.inline {
    max-width: 100%;
}

.site-content {
    max-width: 100%;
    margin-left: 14px;
}

#primary-menu.nav-menu {
    padding-left: 0px;
}

/* footer */
.site-footer .site-info {
    text-align: left;
    margin-left: 14px;
}

.site-footer .scroll-top {
    height: 0px;
    position: relative;
    bottom: -33px;
    border: 0px;
    text-align: right;
    padding-right: 24px;
    margin-right: 14px;

}

.site-footer .scroll-top #scrolltop {
    border: 0px;
}

/* widget */
.widget-area {
    float: right;
    width: auto;
    margin-right: 14px;
    margin-top: 33px
}

.widget_search input.search-field {
    width: calc(100% - 60px);
}

/* content */
/*[[video-height]]*/
embed, iframe, object {
    width: 1280px;
    height: 720px;
}

#tablepress-1_wrapper.dataTables_wrapper {
    margin-top: -48px;
}

.content-area {
    padding-top: 0px;
    margin-top: -15px;
    width: 75%;
}


/* userstyles.org options support
embed, iframe, object {
    width: 960px;
    height: 540px;
}

embed, iframe, object {
    width: 1280px;
    height: 720px;
}

embed, iframe, object {
    width: 1920px;
    height: 1080px;
}

embed, iframe, object {
    width: 2560px;
    height: 1440px;
}
*/